<div class="form">
      <form>
        <div class="top-row">
        <div class="field-wrap">
         <input [(ngModel)]="usuario.run"
                        name="run"
                        type="text"
                        id="runUsuario" placeholder="C.I." />
        </div>
        <div class="field-wrap">
        <input required autocomplete="off" [(ngModel)]="usuario.userName"
                        name="userName"
                        type="text"
                        id="userName" placeholder="Nombre de usuario"/>
        </div>
        <div class="field-wrap">
        <input required autocomplete="off" [(ngModel)]="usuario.nombre"
                        name="nombre"
                        type="text"
                        id="nombre" placeholder="Nombre"/>
        </div>
        <div class="field-wrap">
       <input required autocomplete="off" [(ngModel)]="usuario.apePaterno"
                        name="apePaterno"
                        type="text"
                        id="apePaterno" placeholder="Apellido paterno"/>
        </div>
      <div class="field-wrap">
       <input required autocomplete="off" [(ngModel)]="usuario.apeMaterno"
                        name="apeMaterno"
                        type="text"
                        id="apeMaterno" placeholder="Apellido materno" />
      </div>
      <div class="field-wrap">
        <input required autocomplete="off" [(ngModel)]="usuario.contrasenia" name="contrasenia" type="password" id="contrasenia" placeholder="Contraseña"/>
      </div>
      <div class="saludo">
        {{mensaje}}
      </div>
       <button type="button" class="button button-block" (click)="guardar()">Guardar</button>
       <button [routerLink]="['/usuarios']" type="button" class="button button-block">Volver</button>
      </div>
    </form>
</div>